#nav {
  text-align: center;
}
#img{
  text-align: center;
}
#cuadros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
#table1 {
  margin-left: 100px;
  margin-right: 10px;
}

#table2 {
  margin-left: 200px;
  margin-right: 10px;
}